<head>
<style>
.button {
-moz-appearance: button;
/* Firefox */
-webkit-appearance: button;
/* Safari and Chrome */
padding: 10px;
margin: 10px;
width: 70px;
}
.drop-box {
background: #F8F8F8;
border: 5px dashed #DDD;
width: 200px;
height: 65px;
text-align: center;
padding-top: 25px;
margin: 10px;
}
.dragover {
border: 5px dashed blue;
}
</style>

<script src="bower_components/angular/angular.min.js"></script>
<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script> 
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script> 

<script src="app.js"></script>

</head>
<div ng-app="fileUpload" ng-controller="MyCtrl">Username
    <input type="text" ng-model="username"></br></br>
    <input type="checkbox" ng-model="multiple">upload multiple file</br></br>
    watching model:
    <div class="button" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>
    on file change:
    <div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</div>
    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
</div>
</div>