<br>
<div class="row text-justify">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <h3>What's Robo Brain?</h3>
    <br>
    <p>
      Robo Brain is a large-scale
      computational system that learns from publicly available
      Internet resources, computer simulations, and real-life robot trials.
      What will it learn? Lots of stuff - from natural language
      comprehension to object recognition to trajectory planning.
    </p>
    <p>
      Robo Brain will allow researchers and engineers to
      focus on their area of interest and develop prototypes
      much more quickly. For example, a researcher who develops a novel
      trajectory planning algorithm can experiment using real
      robots by letting Robo Brain take care of object and
      environment recognition. Robo Brain will be the
      J.A.R.V.I.S. to every robot's Iron Man.
    </p>
  </div>
</div>
<br><br>
<div class="text-center">
  <h3>Thanks To Our Sponsors</h3>
  <br>
  <span ng-repeat="s in sponsors">
    <a ng-href="{{ s.url }}">
      <img class="sponsor-logo" ng-src="{{ s.logo }}">
    </a>
  </span>
</div>
<br>


