<br>
<h3>Robo Brain Team</h3>
<br>
<div class="row">
  <div class="contrib col-sm-4 col-xs-9" ng-class="($index==3) ? 'col-sm-offset-2' : ''" ng-repeat="p in leads">
    <img class="contrib-pic img-center" ng-src="{{ p.photo }}">
    <h4 class="text-center">
      <a ng-href="{{ p.url }}" target="_blank">{{ p.name }}</a>
      <br>
      <small>
        {{ p.institution }}<br>
        <a ng-if="p.roleUrl" ng-href="{{ p.roleUrl }}" target="_blank">
          {{ p.role }}
        </a>
        <span ng-if="p.roleUrl == null">
          {{ p.role }}
        </span>
      </small>
    </h4>
    <br>
  </div>
</div>
<br>
<h3>Masters and Undergraduate Students</h3>
<br>
<div class="row">
  <div class="contrib col-sm-4 col-xs-9" ng-repeat="p in ugrad_masters_students">
    <img class="contrib-pic img-center" ng-src="{{ p.photo }}">
    <h4 class="text-center">
      <a ng-href="{{ p.url }}" target="_blank">{{ p.name }}</a>
      <br>
      <small>
        {{ p.institution }}<br>
        <a ng-if="p.roleUrl" ng-href="{{ p.roleUrl }}" target="_blank">
          {{ p.role }}
        </a>
        <span ng-if="p.roleUrl == null">
          {{ p.role }}
        </span>
      </small>
    </h4>
    <br>
  </div>
</div>
<br>
<h3>Faculty</h3>
<br>
<div class="row">
  <div class="contrib col-sm-3 col-xs-9" ng-repeat="p in faculty">
    <img class="contrib-pic img-center" ng-src="{{ p.photo }}">
    <h4 class="text-center">
      <a ng-href="{{ p.url }}" target="_blank">{{ p.name }}</a>
      <br>
      <small>
        {{ p.institution }}<br>
        <a ng-if="p.roleUrl" ng-href="{{ p.roleUrl }}" target="_blank">
          {{ p.role }}
        </a>
        <span ng-if="p.roleUrl == null">
          {{ p.role }}
        </span>
      </small>
    </h4>
    <br>
  </div>
</div>
<br>
<h3>PhD Students</h3>
<br>
<div class="row">
  <div class="contrib col-sm-3 col-xs-9" ng-repeat="p in phd_students">
    <img class="contrib-pic img-center" ng-src="{{ p.photo }}">
    <h4 class="text-center">
      <a ng-href="{{ p.url }}" target="_blank">{{ p.name }}</a>
      <br>
      <small>
        {{ p.institution }}<br>
        <a ng-if="p.roleUrl" ng-href="{{ p.roleUrl }}" target="_blank">
          {{ p.role }}
        </a>
        <span ng-if="p.roleUrl == null">
          {{ p.role }}
        </span>
      </small>
    </h4>
    <br>
  </div>
</div>
<br>
