
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style>
    #menu{
        padding: 25px;
        font-size: 16px;
        background: #f2f2f2;
        text-align: center;
        border-radius: 5px;
    }
</style>
</head>
<body>

	<div class="jumbotron">
<div class="container">
   
	<h3 class="text-center">Enter your Raquel code below:</h3>
<p align="center"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></p>


	<p align="center"><textarea rows="2" cols="50">
	</textarea></p>
  
</div>

	</div>

<div class="page-header">
    <h2 class="text-center">RaQuel <small>API Documentation</small></h1>
</div>


  <div class="container-fluid" id="menu">
 
    <ul>
       
        <a href="#raquel##fetch">1. FETCH</a>
        <br><a href="#raquel##Sortby">2. SORT BY</a>
        <br><a href="#raquel##len">3. LEN</a>
        <br><a href="#raquel##map">4. MAP</a>
        <br><a href="#raquel##filter">5. FILTER</a>

    </ul> 
</div>


</body>
</html>