<div class="jumbotron">
<div class="container-fluid">
  

      <label style="float:left ">Try out:</label>
      <select class="form-control" id="sel2">
        <option>Fetch</option>
        <option>Sort</option>
        <option>Map</option>
        <option>Filter</option>
      </select>
    <button type="button" class="btn btn-link" onclick="myFunction()" style="font-size:14px; font-weight:bold; outline:0">Show</button>



  <textarea class="form-control" style="width: 100%; border:none; color:#009900; font-family: Courier; resize:none" rows="5" id="demo" ng-model="query.query">//Enter Your Code</textarea>
  <div class="form-inline">
  <div class="form-group">   
  <button type="submit" class="btn btn-link" onclick="cleararea()" style="font-size:14px; font-weight:bold; outline:0; float:left">Clear</button></div>
  <div class="form-group">        
        <button type="submit" class="btn btn-link" ng-click="sendQuery(query)" style="font-size:14px; font-weight:bold; outline:0; float:right">Execute</button>    
    </div>
  </div>
     <div id="drope_box" style="display:none;">
      <br>
   <div id="regeStr" style="overflow-y:scroll;height:300px;text-wrap:unrestricted"> 

   </div>
</div>
</div>

  </div>

<script type="text/javascript">
function myFunction() {
    var x=document.getElementById("sel2").value;
    var y=x.split(" ")
    if(y[0]=="Fetch"){
    document.getElementById("demo").value="//Enter Your Code\n>>>fetch(\"({handle:'wall'})-[:`HAS_MATERIAL`]->(b)\")";
  }
    else if(y[0]=="Sort"){
    document.getElementById("demo").value="//Enter Your Code\n>>>path = fetch(\"(\{handle:'sitting_human'})-[e*1..3]->({handle:'cup'})\")\n>>>SortBy(\paths,'Belief')";
  }
    else if(y[0]=="Map"){
    document.getElementById("demo").value="//Enter Your Code\n>>>objects = fetch(\"(\{handle:'sitting_human'})-[:`CAN_USE`]->(v)\")\n>>>affordance = lambda n:\ fetch(\"{handle :'\" + n + \"'}) - [:`HasAffordance` ] -> (v)\")\n>>>iter = imap(\ lambda u: affordances(u) ,objects)\n>>>iter.next()";
  }
    else if(y[0]=="Filter"){
    document.getElementById("demo").value="//Enter Your Code\n>>>paths = fetch(\"({handle:'sitting_human'})-[e*1..3]->({handle:'cup'})\")\n>>>iter = ifilter(\ lambda u: Belief(u)  > 0.5 ,paths)\n>>>iter.next()";
  }
}
function execute(){
  document.getElementById("result").innerHTML="The result is: ";
}
function cleararea(){
  document.getElementById("demo").value="//Enter Your Code";
  }
</script>

<script type="text/javascript">
$('#searchid').blur(function() {
   if($(this).val() != ""){
        $("#drope_box").show();    
    }
    else{
        $("#drope_box").hide(); 
    }
});

 $('#searchid').focus(function() {
    $("#drope_box").show();
 });

</script>

<div class="page-header">
    <h2 class="text-center">RaQuel <small>API Documentation</small></h1>
</div>

        <p>Currently, RaQuel supports the following functions:</p>
        
        <p class="fetch">1. <span style="font-family: Courier;">fetch</span> function</p>
        <div class="panel1">
        <p>
          <code>fetch: Pattern(arg<sub>1</sub>,arg<sub>2</sub>,...)</code> returns a list of tuples with instantiated values of variables <code>[(arg<sub>1</sub><sup>(i)</sup>,arg<sub>1</sub><sup>(i)</sup>,...)]<sub>i<sub></code>. 
          This pattern is matched against the RoboBrain graph and these matched sub-graphs are used to create initialized entries for the pattern variables.<br><br>
          For example, to retrieve all nodes and edges with label 'HAS_MATERIAL' connected to nodes with handle "wall":
        </p>
        <blockquote>
          >>> fetch("({handle:'wall'})-[e:`HAS_MATERIAL`]->(b)")
        </blockquote>
        <p>
          The pattern will match against paths of length one {u, e, v}; where node
          u has handle "wall" and edge e has label 'HAS_MATERIAL'.
        </p>
        </div>
        <p class="sort">2. <span style="font-family: Courier;">sort</span> function</p>
        <div class="panel2">
        <code>SortBy(Pattern,'key')</code> returns a list of tuples sorted according to the key. <br><br>
          For example, to sort all paths of length between 1 and 3, which connects nodes with handle 'sitting_human' to nodes with handle 'cup', according to belief:
        </p>
        <blockquote>
          >>> path = fetch("({handle:'sitting_human'})-[e*1..3]->({handle:'cup'})")
          <br> >>> SortBy(paths,'Belief')
        </blockquote>
        </div>
        <p class="len">3. <span style="font-family: Courier;">len</span> function</p>
        <div class="panel3">
        <p>The len function is used to find the length of the list of nodes or edges.</p>
        </div>
        <p class="map">4. <span style="font-family: Courier;">map</span> function</p>
        <div class="panel4">
        <p>The map function calls a function on a specific set of values.</p>
        </div>
        <p class="filter">5. <span style="font-family: Courier;">filter</span> function</p>
        <div class="panel5">
        <p>The filter function returns a sequence on which a function is true.</p>
        </div>


<br>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fetch").click(function() {
      $(".panel1").slideToggle("slow");
    });
  });
  $(document).ready(function() {
    $(".sort").click(function() {
      $(".panel2").slideToggle("slow");
    });
  });
  $(document).ready(function() {
    $(".len").click(function() {
      $(".panel3").slideToggle("slow");
    });
  });
  $(document).ready(function() {
    $(".map").click(function() {
      $(".panel4").slideToggle("slow");
    });
  });
  $(document).ready(function() {
    $(".filter").click(function() {
      $(".panel5").slideToggle("slow");
    });
  });
  var count;
  $(document).ready(function(){
    $("#demo").click(function(){
   if ($("#demo").val()=="//Enter Your Code"){
        var content="//Enter Your Code\n>>>";
        $("#demo").val(content);
        count = $("#demo").val().length;
      }
    else{
      count=21;
    }
    });
  });
  
  $(document).keypress(function(e) {
    if(e.which == 13) {
        var content=">>>";
        var txt = $("textarea#demo");
        txt.val( txt.val() + "\n>>>");
        e.preventDefault();
        count = $("#demo").val().length;
    }
});
  var after;
  $(document).keydown(function(e){
    if ( e.keyCode == 8 ){
    after = $("#demo").val().length;
    if(after<count+1)
      e.preventDefault();
    }
});
</script>

 <style type="text/css">
p.fetch,p.sort,p.len,p.map,p.filter{
  margin: 0px;
  padding: 5px;
  background: #eee;
  border: solid 1px #fff;
}
 
div.panel1,div.panel2,div.panel3,div.panel4,div.panel5 {

  display: none;
   margin: 0px;
  padding: 5px;
  border: solid 1px #fff;
}
</style>