<div class="jumbotron">
<div class="container-fluid">
   
  <h3 class="text-center">Enter your RaQuel code below:</h3>
  <br>

      <label style="float:left;">Saved Scripts:</label>
      <select class="form-control" id="sel2">
        <option>Example 1</option>
        <option>Example 2</option>
        <option>Example 3</option>
        <option>Example 4</option>
      </select>
    <button type="button" class="btn btn-link" onclick="myFunction()" style="font-size:14px; font-weight:bold;">Show</button>

  
  <textarea class="form-control" style="width: 100%; border:none; color:#007A00" rows="5" placeholder="Enter Code Here" id="demo" autofocus></textarea>
  <div class="form-group">        
        <button type="submit" class="btn btn-link" onclick="execute()" id="searchid" style="font-size:14px; font-weight:bold;">Execute</button>    
    </div>
    <div id="drope_box" style="display:none;">
  <textarea style="width: 100%; border:none;"rows="2" placeholder="Result Shown Here" id="result"></textarea>
</div>
</div>

  </div>

<script type="text/javascript">
function myFunction() {
    var x=document.getElementById("sel2").value;
    var y=x.split(" ")
    if(y[1]=="1"){
    document.getElementById("demo").value="fetch(\"({handle:'wall'})-[\e:`HAS_MATERIAL`]->(b)\")";
  }
    else if(y[1]=="2"){
    document.getElementById("demo").value="path = fetch(\"(\{handle:'sitting_human'})-[e*1..3]->({handle:'cup'})\")\nSortBy(\paths,'Belief')";
  }
    else if(y[1]=="3"){
    document.getElementById("demo").value="objects = fetch(\"(\{handle:'sitting_human'})-[:`CAN_USE`]->(v)\")\naffordance = lambda n: fetch\(\"{handle :'\" + n + \"'}) - [:`HasAffordance` ] -> (v)\")\niter = imap(\ lambda u: affordances(u) ,objects)\niter.next()";
  }
    else if(y[1]=="4"){
    document.getElementById("demo").value="paths = fetch(\"({handle:'sitting_human'})-[e*1..3]->({handle:'cup'})\")\niter = ifilter(\ lambda u: Belief(u)  > 0.5 ,paths)\niter.next()";
  }
}
function execute(){
  var str= document.getElementById("demo").value;
  var res= str.split(" ");
  if(res[1]=="ADD")
  document.getElementById("result").innerHTML="The result is: " + (parseInt(res[2])+ parseInt(res[4]));
  else if(res[1]=="SUBTRACT")
  document.getElementById("result").innerHTML="The result is: " + (parseInt(res[2])-parseInt(res[4]));
  else if(res[1]=="MULTIPLY")
  document.getElementById("result").innerHTML="The result is: " + (parseInt(res[2])*parseInt(res[4]));
  else if(res[1]=="DIVIDE")
  document.getElementById("result").innerHTML="The result is: " + (parseInt(res[2])/parseInt(res[4]));
  else if(res[1]=="MODULUS")
  document.getElementById("result").innerHTML="The result is: " + (parseInt(res[2])%parseInt(res[4]));
}
</script>

<script type="text/javascript">
$('#searchid').blur(function() {
   if($(this).val() != ""){
        $("#drope_box").show();    
    }
    else{
        $("#drope_box").hide(); 
    }
});

 $('#searchid').focus(function() {
    $("#drope_box").show();
 });  
</script>
<div class="page-header">
    <h2 class="text-center">RaQuel <small>API Documentation</small></h1>
</div>

        <p>Currently, RaQuel supports the following functions:</p>
        
        <p class="flip">1. FETCH</p>
        <div class="panel">
        <p>The fetch function is used to retrieve a sub-graph of RoboBrain that matches an input pattern. The function fetch takes as input a pattern and returns a list of tuples with instantiated values of variables. This pattern is matched against sub-graphs of RoboBrain and these matched sub-graphs are used to create initialized entries for the pattern variables.</p>
        </div>




<script type="text/javascript">
  $(document).ready(function() {
    $(".flip").click(function() {
      $(".panel").slideToggle("slow");
    });
  });
</script>

 

 <style type="text/css">
p.flip {
  margin: 0px;
  padding: 5px;
  background: #ddd;
  border: solid 1px #fff;
  font-weight: bold;
}
 
div.panel {
  widht: 50%;
  height: 100px;
  display: none;
   margin: 0px;
  padding: 5px;
  border: solid 1px #fff;
}
</style>