<div class="background-override">
  <div id="error"></div>
  <div id="robot_input_instructions"></div>
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <canvas id="3darea" class="ccb-simulator-canvas" style="background-color:#000000"></canvas>
    </div>
    <div id="commands" class="col-sm-3 col-xs-12">
      <div class="instruction" ng-repeat="s in sequence">
        {{ s }}
      </div>
    </div>
  </div>
  <input type="button" value="show" ng-click="show(url)">
  <input type="button" value="execute" ng-click="execute()">
</div>